* {
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  background-image: url("./public/Background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
