* {
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: auto;
}

.App {
  background: "#F5F5F5";
}

.aboutInfo {
  padding-left: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fade-in2 {
  opacity: 0;
  transition: opacity 600ms ease-in;
  transition-delay: 1000ms;
}

.project-fade-in {
  opacity: 0;
  transition: opacity 290ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
.fade-in2.appear {
  opacity: 1;
}
.project-fade-in.appear {
  opacity: 1;
}
